:root{
    --greenColor: rgb(0, 173, 111);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

.white-color{
    color: white;
}

.margin-h1{
    margin: 0;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 30px;
}

.dark-color{
    background-color: black;
}

.greydark-color{
    background-color: rgb(10, 10, 10);
}

.container{
    margin-right: auto;    
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 980px;
}

.comment-detail{
    color: var(--greenColor);
}


/* Menu */

a{
    text-decoration: none;
}

.lucas{
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    float: left;
}

.header__menu{
    background-color: black;
    width: 100%;
}

.header__nav{
    clear: left;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li {
    background: black;
    text-align: center;
    border-bottom: 1px solid var(--greenColor);
}

.header__nav a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 25px 0;
    transition: .8s ease;
}

.header__nav a:hover{
    color: var(--greenColor);
}

.header__btnMenu{
    float: right;
    margin: 1.5em;
    background: transparent;
    border: none;
    font-size: 14px;
    transition: .5s;
}

.header__btnMenu:hover{
    cursor: pointer;
    color: var(--greenColor);
}

.js .header__nav{
    transition: max-height 1s;
}

.fa-bars{
    color: var(--greenColor);
}



/* Início */

.hero{
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title{
    color: white;
    font-size: 44px;
    font-weight: bold;
    padding: 0px 20px;
}

.hero__text{
    margin: 5px 30px 35px;
    color: white;
    padding: 20px;
    font-size: 32px;
    font-weight: normal;
    color: var(--greenColor);
    text-shadow: 2px 2px 8px var(--greenColor);
}

.socialLucas{
    color: white;
    font-size: 38px;
    transition: .6s;
}

.socialLucas:hover{
    color: var(--greenColor);
}

.fa-linkedin{
    margin-left: 30px;
}


/* Sobre mim */

.margin-AboutMe{
    margin: 0;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 30px;
}

.padding-pageSections{
    padding-bottom: 80px;
}

.aboutMe{
    text-align: center;
    padding-bottom: 50px;
}

.aboutMe-lines{
    line-height: 2.2;
}

.fotoLucas{
    border-radius: 50%;
    height: 200px;
    margin-bottom: 80px;
}

.fotoLucas:hover{
    outline: 5px solid var(--greenColor);
}

.aboutMe-content{
    text-align: center;
}

.aboutMe-icons{
    color: var(--greenColor);
}

.aboutMeFirstIcon{
    margin-right: 5px;
}

.aboutMeSecondIcon{
    margin-left: 5px;
}

/* Experiência */

.experience{
    margin-bottom: 40px;
    border: 1px solid var(--greenColor);
    max-width: 1025px;    
}

.experience-textAlign{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;    
}

.experience-text{
    padding: 20px;
}

.experience-text h2{
    color: var(--greenColor);
    font-weight: normal;
    padding-bottom: 20px;
}

.experience-text p{
    padding-bottom: 20px;
    line-height: 1.6;
}

.experience-text h3{
    font-weight: normal;
}

.dateAndLink{
    display: flex;
    justify-content: space-between;    
}

.dateAndLink a{
    color: var(--greenColor);
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
}





/* Telas maiores */

@media screen and (min-width: 1025px){

    .zero-spaces{
        max-width: 100%;
    }

    .header__menu{
        position: fixed;
    }

    .header__btnMenu{
        display: none;
    }

    .header__nav{
        float: left;
        width: 75%;
        clear: none;
        max-width: 800px;
    }
    
    .header__nav ul{
        display: flex;
        justify-content: space-around;
    }

    .header__nav li{
        border: none;
        flex-grow: 1;
    }

    .header__nav a{
        background: black;  
    }

    /* Sobre mim */

    .margin-AboutMe{
        padding-bottom: 0px;
    }

    .aboutMe{
        text-align: right;
    }

    .aboutMe-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fotoLucas{
        border-radius: 50%;
        height: 200px;
        display: inline-block;
        margin-left: 50px;
        margin-bottom: 70px;        
    }   

    .aboutMeFirstIcon{
        color: black;
    }
}